$background-color: #2F79F6;
$background-color-label: #8BFFD2;
$background-color-promo-code: #DBE5F1;

.car-book-card {
    margin-top: 50px;
    width: 365px;
    // height: 500px;
    background-color: white;
    padding-bottom: 20px;


    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;


    .top-styling {
        // border: 1px solid black;
        position: relative;
        height: 30px;
        top: -30px;
        background-color: $background-color;
        display: flex;

        .left-tab {
            width: 220px;
            height: 30px;
            background-color: $background-color;
            // background-color: white;
            border-bottom-right-radius: 12px;
            z-index: 1;
        } 

        .right-tab {
            position: relative;
            // left: -20px;
            height: 31px;
            width: 200px;
            background-color: $background-color;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            z-index: 2;
            background-color: white;
        }

        .right-tab:after {
            content: '';
            background-color: $background-color;
            border-radius: 50%;
            left: -30px;
            position: absolute;
            height: 30px;
            width: 30px;
            box-shadow: 15px 15px white;
        }
    }

    .top-content {
        padding-left: 20px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .label {
            background-color: $background-color-label;

            padding-left: 7px;
            padding-right: 7px;
            padding-top: 5px;
            padding-bottom: 5px;

            border-radius: 18px;
        }
    }

    .main-content {
        padding-left: 20px;
        

        img {
            height: 100px;
        }

        .perks {
            margin-left: -10px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: center;


            .perk {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                .icon {
                    background-color: #DBE5F1;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;

                    display: flex;  
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        ul {
            padding: 0;
            li {
                list-style-type: none; /* Remove default list styles */
            }
              
              li::before {
                content: "\2713"; /* Unicode checkmark symbol */
                display: inline-block;
                width: 1em; /* Adjust as needed */
                margin-right: 0.5em; /* Add some space between checkmark and text */
              }
              
              /* Optionally, you can add additional styling for the list items */
              li {
                padding: 5px 0; /* Add some padding for better spacing */
              }
              
        }
    }
}

.book-button {
    background-color: white;
    height: 200px;
    width: 365px;
    border-radius: 15px;
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .book-button-top {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        width: 100%;

        .input-wrapper {
            // all: unset;
            background-color: $background-color-promo-code;
            padding: 10px;
            border-radius: 8px;
            border: none;
            width: 150px;
            height: 30px;
            position: relative;
            
            input {
                all: unset;
                height: 100%;
                width: 100%;
                text-align: center;
            }
        }

        .input-wrapper:before, .input-wrapper:after {
            content: ""; /* Adding content */
            background-color: white;
            position: absolute;
            border-radius: 50%;
            width: 30px;
            height: 20px;
            z-index: 2;
            top: 15px;
        }
        
        .input-wrapper:before {
            left: -20px; /* Adjusted position */
        }
        
        .input-wrapper:after {
            right: -20px; /* Adjusted position */
        }
    }

    button {
        padding: 20px;
        border: none;
        border-radius: 15px;
        background-color: $background-color;
        width: 80%;
        color: white;
    }
}