<div class="car-book-card">
    <div class="top-styling">
        <div class="left-tab"></div>
        <div class="right-tab"></div>
    </div>
    <div class="top-content">
        <div class="rating">
            <div class="stars">
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
            </div>
            8.5/10 Excellent
        </div>
        <div class="label">Free cancellation</div>
    </div>
    <div class="main-content">
        <h1>Hyundai Santa Fe</h1>
        <div class="perks">
            <div class="perk">
                <div class="icon">
                    <span class="material-symbols-outlined">airline_seat_recline_extra</span>
                </div>
                5 Seats
            </div>
            <div class="perk">
                <div class="icon">
                    <span class="material-symbols-outlined">travel_luggage_and_bags</span>                        
                </div>
                3 Baggage
            </div>
            <div class="perk">
                <div class="icon">
                    <span class="material-symbols-outlined">auto_transmission</span>
                </div>
                Auto
            </div>
            <div class="perk">
                <div class="icon">
                    <span class="material-symbols-outlined">ac_unit</span>
                </div>
                A/C
            </div>
        </div>
        <h4>Included in the price:</h4>
        <ul>
            <li>Free cancellation up to 48 hours before pick-up</li>
            <li>Theft protection with $149 excess</li>
            <li>Unlimited mileage</li>
        </ul>    
    </div>
</div>