<form>
    <input type="text" placeholder="pick up location" id="location"><br>
    <div class="date-and-time">
        <input type="date" name="pick_up_date" id="date"><br>
        <input type="time" name="pick_up_time" id="time"><br>    
    </div>
    <div class="date-and-time">
        <input type="date" name="drop_off_date" id="date"><br>
        <input type="time" name="drop_off_time" id="time"><br>    
    </div>
    <button>Search</button>
    <div class="age_checkbox">
      <input type="checkbox" name="age-checkbox" id="age-checkbox">
      <label>Driver's age 30-65</label>  
    </div>
</form>