$background-color: #2F79F6;
$background-color-input: white;
$background-color-button: #8BFFD2;
$background-color-button-hover: #65d6ab;
$text-color: white;

form {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20em;
    // padding: 10px;
}

#location, #date, #time {
    all: unset;
    border-radius: 18px;
    background-color: $background-color-input;
    padding: 20px;
    margin: 0.5em;
}

#location {
    // width: calc(20em - 100px);
}

button {
    all: unset;
    background-color: $background-color-button;
    border-radius: 18px;
    padding: 20px;
    width: calc(20em - 100px);
    margin: 0.5em;
    text-align: center;
}

button:hover {
    cursor: pointer;
    background-color: $background-color-button-hover;
}

.date-and-time {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 300px;
}

input#age-checkbox {
    all: padding;
}

label {
    color: $text-color;
}

.age_checkbox {
    margin: 0.5em;
    width: 20em;
}

@media screen and (max-width: 600px) {
    form {
        width: 100%;
        padding: 0;
    }

    #location, #date, #time {
        margin: 0;
    }

    #location {
        width: calc(300px - 0.5em);
    }

    .date-and-time {
        width: calc(300px - 0.5em + 40px);
        #date {
            width: 60%;
        }

        #time {
            width: 30%;
            margin-left: 0.5em;
        }

    }

    button {
        width: calc(300px - 0.5em);
    }

    #location, .date-and-time {
        margin-top: 0.5em;
    }
}